#contact {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

svg {
    width: 2rem;
    height: 2rem;
    color: var(--color-dark);
}

form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 20rem;
}

label {
    display: flex;
    flex-flow: column;
}

input,
textarea {
    padding: 0.5rem;
    border: 2px solid var(--color-mid);
    border-radius: 0;
    resize: none;
}

textarea {
    height: 10rem;
}

button {
    padding: 1rem;
    background-color: var(--color-dark);
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}