#about {
    display: flex;
    align-items: center;
    flex: 1;
}

#about-desc>p {
    max-height: 70%;
}

#about-name p {
    background: white;
    color: var(--color-dark);
}

#about-video-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
}

#about-video {
    height: 600px;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#about-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
}

#watch-button {
    position: absolute;
    bottom: 2rem;
    width: fit-content;
    z-index: 2;
}

#watch-button.active {
    top: 1.5rem;
    bottom: auto;
    background: white;
    color: var(--color-dark);
}

@media screen and (max-width: 1200px) {

    #about {
        justify-content: center;
    }

    #about-video-wrapper {
        position: absolute;
        inset: 0;
        width: 100%;
    }

    #about-video {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        box-shadow: none;
    }

}

@media screen and (max-width: 600px) {

    #about-desc {
        height: 100%;
        border-bottom: none;
        background: linear-gradient(to top, rgba(255, 255, 255, .8), rgba(0, 0, 0, 0) 100%);
    }

    #about-name p {
        font-size: 1rem;
    }

    #about-text {
        position: relative;
        overflow-y: auto;
    }

    #watch-button {
        font-size: 1rem;
        padding: 0.25rem 1rem;
        background: var(--color-dark);
        color: white;
    }

}