:root {
    --color-dark: rgb(25, 20, 20);
    --color-mid: rgb(140, 135, 135);
}

*,
html,
body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: var(--color-dark);
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    flex: 1;
}

body {
    padding: 1rem 2rem;
    gap: 1rem;
}

header {
    display: flex;
    flex-flow: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.page {
    position: relative;
}

.page-bg {
    z-index: -1;
}

.page-desc {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    justify-content: center;
    border-left: 2px solid var(--color-dark);
    padding: 3rem;
    box-sizing: border-box;
    width: 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(0, 0, 0, 0) 75%);
}

.page-name {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.page-name p {
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 0 1rem;
    width: fit-content;
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.5rem;
    font-weight: 400;
}

nav {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    font-size: .8rem;
    color: var(--color-mid);
}

a.active {
    color: var(--color-dark);
}

button {
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
}

footer {
    text-align: center;
}

footer * {
    color: var(--color-mid);
    font-size: 0.7rem;
}

footer a {
    color: var(--color-dark);
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {

    .page-desc {
        left: 0;
        justify-content: start;
        border-left: none;
        border-bottom: 2px solid var(--color-dark);
        width: 100%;
        height: fit-content;
        background: linear-gradient(to top, rgba(255, 255, 255, .8), rgba(0, 0, 0, 0) 75%);
    }

}

@media screen and (max-width: 600px) {

    .page-desc {
        gap: 1rem;
        padding: 1.5rem;
    }

    .page-name p {
        font-size: 2rem;
        letter-spacing: 5px;
        padding: 0 .75rem;
    }

    .page-desc>p {
        font-size: .8rem;
    }

    body {
        padding: .5rem 1.5rem;
        gap: .5rem;
    }

    footer * {
        font-size: 0.5rem;
    }

}